html,
body,
h1, h2, h3 {
    margin: 0;
}

* {
    box-sizing: border-box;
}

body{
    background-color: #dfe5ec;;
    font: 13px/18px Tahoma,sans-serif,Arial,Helvetica;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-family: Tahoma, sans-serif, Arial, Helvetica;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header {
    background-color: #5682A3;
    color: #fff;
    cursor: pointer;
    display: flex;
    height: 48px;
    margin: 0 auto;
    max-width: 1010px;
    user-select: none;
}

.header_logo {
    width: 31%;
    color: #fff;
    padding: 17px 20px 15px 22px;
    display: flex;
    font-size: 14px;
    line-height: 16px;
    vertical-align: top;
}

.header_logo:hover {
    background-color: #497799;
}

.header_logo:hover .hamburger-line:nth-child(1) {
    transform: translateY(-1px);
}

.header_logo:hover .hamburger-line:nth-child(3) {
    transform: translateY(1px);
}

.icon-tg-title {
    background-image: url("https://web.telegram.org/img/Telegram.svg");
    width: 62px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-top: 1px;
}

.hamburger {
    height: 14px;
    width: 18px;
    margin-right: 40px;
}

.hamburger-line {
    background: #fff;
    display: block;
    height: 2px;
    margin: 0;
}

.hamburger-line:nth-child(2) {
    margin-bottom: 4px;
    margin-top: 4px;
}

.header_main {
    align-items: center;
    display: flex;
    width: 69%;
}

.head_info {
    color: #b9cfe3;
    padding: 15px 19px 15px;
    width: 100%;
}

.head_info:hover {
    background-color: #497799;
    color: #fff;
}

.head_title {
    color: #fff;
    font-weight: bold;
    margin-right: 3px;
}

.search_btn {
    padding: 15px 19px;
}

.search_btn:hover {
    background-color: #497799;
}

.icon_search {
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url(https://web.telegram.org/img/icons/IconsetW.png);
    background-repeat: no-repeat;
    background-position: -12px -1037px;
    vertical-align: middle;
    opacity: 0.9;
}

.icon-bar {
    display: block;
    background-color: #d7e5f0;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    margin-left: 3px;
    margin-right: 3px;
}

.dropdown_toggle {
    padding: 15px 19px;
}

.dropdown_toggle:hover {
    background-color: #497799;
}

.icon-bar + .icon-bar {
    margin-top: 2px;
}

.main_content {
    display: flex;
    background: #fff;
    max-width: 1010px;
    min-width: 300px;
    margin: 0 auto;
    border-left: 1px solid #dfe5ec;
    border-right: 1px solid #dfe5ec;
}

.dialogs {
    width: 31%;
    border-right: 2px solid #E9EBED;
    user-select: none;
}

.dialogs_search {
    padding: 12px;
}

.dialog_col {
    height: 464px;
}

.dialogs_search_field {
    font-size: 12px;
    line-height: normal;
    border: 1px solid #F2F2F2;
    border-radius: 2px;
    padding: 6px 26px 6px 30px;
    margin: 0;
    background-color: #F2F2F2;
    background-image: url(https://web.telegram.org/img/icons/IconsetW.png);
    background-repeat: no-repeat;
    background-position: -6px -205px;
    width: 100%;
    height: 34px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15;
}

.dialogs_search_field:focus,
.dialogs_search_field:active {
    background-color: #fff;
}

.dialogs_search_field:focus {
    border: 1px solid #d9dbde;
    outline: 0;
}

.dialogs_search_field::placeholder {
    color: #9AA2AB;
}

.dialog_list {
    cursor: pointer;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.dialog {
    display: flex;
    padding: 7px 16px;
    height: 62px;
}

.active {
    background-color: #6490b1;
    padding-right: 18px;
    margin-right: -2px;
}

.dialog_photo {
    margin-right: 15px;
}

.dialog_user_photo {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.dialog_message {
    width: 100%;
    height: 44px;
    overflow: hidden;
}

.user_name {
    color: #222;
    font-weight: 700;
    margin: 3px 0;
}

.dialog_chat {
    margin-top: 5px;
}

.message_from {
    color: #3a6d99;
}

.message_text {
    color: #698192;
}

.dialog_meta {
    text-align: right;
}

.message_time {
    color: #b3b3b3;
    font-size: .85em;
    width: max-content;
}

.badge {
    font-size: 11px;
    padding: 5px;
    border-radius: 11px;
    min-width: 21px;
    text-align: center;
    margin-top: 4px;
    display: inline-block;
    font-weight: 700;
    color: #fff;
    line-height: 1;
}

.dialog_unread_green {
    background: #64c270;
}

.dialog_unread_gray {
    background: #bfbfbf;
}

.message_active {
    color: #fff;
}

.history {
    width: 69%;
}

.history_messages {
    height: 404px;
    overflow-y: auto;
}

.send_panel {
    max-width: 554px;
    margin: 0 auto;
    padding: 10px 15px 30px;
    height: 97px;
}

.send_field {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.right_photo {
    margin-right: 17px;
}

.send_form {
    width: 100%;
    max-width: 382px;
}

.composer_rich_textarea {
    display: flex;
    justify-content: space-between;
    width: 100%;
    outline: none;
    box-shadow: 0 1px 0 0 #e8e8e8;
    min-height: 52px;
    margin-bottom: 13px;
    position: relative;
}

.form_textarea {
    font-size: 12px;
    line-height: 1.42857143;
    width: 100%;
    max-width: 100%;
    border: none;
    outline: none;
    resize: none;
}

.form_textarea:focus {
    box-shadow: 0 2px 0 0 #77b7e4;
}

.left_photo {
    margin-left: 21px;
}

.message {
    max-width: 560px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
    cursor: pointer;
}

.content_message {
    display: flex;
    margin: 8px 10px 8px 16px;
}

.message_photo {
    margin: 0 15px 0 0;
}

.message_from_photo {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.message_body {
    width: 100%;
}

.empty_img {
    margin-left: 57px;
}

.message_author {
    color: #3a6d99;
    font-weight: 700;
    margin: 1px 0 4px;
}

.message_image {
    width: 260px;
}

.message_date {
    color: #adadad;
    font-size: .85em;
    width: max-content;
}

.panel_photo {
    width: 52px;
    height: 52px;
    line-height: 52px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.composer_emoji_insert_btn {
    cursor: pointer;
    padding: 0;
    width: 22px;
    height: 22px;
    margin-top: 1px;
    display: block;
    opacity: 1;
    position: absolute;
    right: 3px;
    top: 2px;
}

.icon-emoji {
    display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align: top;
    opacity: .8;
    background-image: url(https://web.telegram.org/img/icons/General.png);
    background-repeat: no-repeat;
    background-position: -9px -335px;
}

.send_buttons {
    display: flex;
}

.attach {
    cursor: pointer;
    display: block;
    overflow: hidden;
    width: 18px;
    height: 17px;
    margin-right: 28px;
    margin-top: 6px;
}

.icon_paperclip {
    display: inline-block;
    width: 18px;
    height: 17px;
    opacity: 0.8;
    background-image: url("https://web.telegram.org/img/icons/General.png");
    background-repeat: no-repeat;
    background-position: -11px -455px;
}

.media_attach {
    cursor: pointer;
    display: block;
    overflow: hidden;
    padding: 0;
    width: 20px;
    height: 18px;
    margin-top: 5px;
    margin-right: 25px;
}

.icon_camera {
    display: inline-block;
    width: 20px;
    height: 18px;
    opacity: 0.8;
    background-image: url("https://web.telegram.org/img/icons/General.png");
    background-repeat: no-repeat;
    background-position: -10px -399px;
}

.record {
    width: 18px;
    height: 23px;
    margin-top: 5px;
    margin-right: 15px;
}

.icon_mic {
    display: inline-block;
    width: 18px;
    height: 22px;
    opacity: 0.8;
    background-image: url("https://web.telegram.org/img/icons/IconsetW.png");
    background-repeat: no-repeat;
    background-position: -12px -285px;
    background-color: transparent
}

.submit_send {
    border: none;
    background: #fff;
    color: #499dd9;
    font-weight: bold;
}
